<html lang="en"><head>
    <title>LEM Processor</title>

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm">
    <link href="/css/cover.css" rel="stylesheet" integrity="sha384-zACYQntl4ggTB96zOwBEnsHqxm/Gck/VqRqSBYXZubKHfPLVljaEbS2xi8UAKeDD">
    <style>
      body {
        background-color: #22442d;
      }
    </style>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center"></nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">It's up!</h1>
        <p class="lead">
            The LEM processor is online.
        </p>
      </main>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/js/jquery.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" integrity="ha384-t77FiAGgJXCcTE6bP/WL90pjqzqjLuzlJqSGQjBTCMv47E3knrKONHVfTczZthCr" crossorigin="anonymous"></script>
  
</body></html>